<h1><%= @album.title %></h1>
<h4><%= @album.decription %></h4>

<ul>
    <li>
        <%= link_to "Edit", edit_album_path(@album) , style: "text-decoration:none; color: #000;"%>
    </li>
    <li>
        <%= link_to "Destroy", albums_destroy_path(@album), data:
        {
            turbo_method: :delete,
            turbo_confirm: "Are you Sure?"
        }, style: "text-decoration:none; color: #000;" %>
    </li>
</ul>

<%= link_to "Back", albums_path, style: "display: block;width: 115px;height: 46px;background: #212529;padding: 10px;text-align: center;border-radius: 5px;color: white;font-weight: bold; text-decoration: none; margin-left: 10px;line-height: 25px;"%>

<hr>
<h1>Photos: </h1>
<div class="container" style="max-width: 1700px;">
<% @album.album_photos.order("created_at DESC").each do |album_photos| %>
<div style="margin: 5px;border: 1px solid #ccc;float: left;width: 195px;">
<%= link_to image_tag(album_photos.variant(resize_to_fill: [195, 195]), style: "width: 100%;height: auto;", alt: album_photos.filename.to_s), album_photos, target: "_blank"%>

<div style="padding: 8px;text-align: center;font-size: 0.7em">
<%= link_to 'Delete', delete_album_photos_album_path(album_photos), method: :delete, data: { confirm: 'Are you sure?' }, style: "text-decoration:none; color: #000;" %>
</div>
</div>
<% end %>
</div>